body {
  margin: 0;
}

.container {
  margin-bottom: 2rem;
  padding-bottom: 0;
}
#welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#header {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
#my-pic-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  padding: 20px;
}
.card {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: initial;
}

section {
}
img {
  width: 100%;
  object-fit: cover;
}

#welcome {
  text-align: center;
}
#about-me {
  text-align: center;
}

#sports {
  text-align: center;
}
.card-title {
  padding: 0;
  margin: 0;
}
